# MongoDB Configuration
MONGO_URI=mongodb://admin:password@localhost:27017/?authSource=admin
DB_NAME=synsere_tts

# JWT Configuration
JWT_SECRET_KEY=your_secure_secret_key_here

# Application Mode (set to 'true' in production)
PRODUCTION_MODE=false



mongosh --username admin --password password --authenticationDatabase admin
